<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Auth page')}">
</head>
<body>
    <form method="post" th:action="@{/login}" th:object="${auth}">
        <input type="text" th:field="*{username}" placeholder="username">
        <input type="password" th:field="*{password}" placeholder="password">
        <input type="checkbox" name="remember-me">
        <button type="submit">Login</button>
    </form>
    <div th:replace="~{fragments/scripts}"></div>
</body>
</html>