<!doctype html>
<html xmlns:th="http://thymeleaf.org"]>
<head th:replace="~{fragments/head :: head(title='Registration page')}">
<body>
    <form method="post" th:action="@{/registration}" th:object="${user}" enctype="multipart/form-data">
        <input type="text" th:field="*{username}" placeholder="username">
        <input type="password" th:field="*{password}" placeholder="password">
        <input type="email" th:field="*{email}" placeholder="email">
        <input type="file" th:field="*{avatar}">
        <button type="submit">Register</button>
    </form>
    <div th:replace="~{fragments/scripts}"></div>
</body>
</html>