<!doctype html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" th:action="@{/registration}" th:object="${user}">
        <input type="text" th:field="*{username}" placeholder="username">
        <input type="password" th:field="*{password}" placeholder="password">
        <input type="email" th:field="*{email}" placeholder="email">
<!--        <input type="file" th:field="*{avatar}" placeholder="image">-->
        <button type="submit">Register</button>
    </form>
</body>
</html>