<header th:fragment="header">
    <nav class="navbar navbar-light navbar-expand-md py-3" style="background: var(--bs-gray-800);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                    </svg></span><span style="color: #ffffff;">Brand</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="color: #ffffff;"><span class="visually-hidden" style="color: #ffffff;">Toggle navigation</span><span class="navbar-toggler-icon" style="color: #ffffff;"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto" style="color: #ffffff;">
                    <li class="nav-item" style="color: #ffffff;"><a class="nav-link active" href="/post/create" style="color: #ffffff;">Create Post</a></li>
                    <li class="nav-item" style="color: #ffffff;"><a class="nav-link" href="/tag/create" style="color: #ffffff;">Create Tag</a></li>
                    <li class="nav-item" style="color: #ffffff;"><a class="nav-link" href="/category/create" style="color: #ffffff;">Create Category</a></li>
                </ul>
                <ul th:if="${user == null}" class="navbar-nav ms-auto" style="color: #ffffff;">
                    <li class="nav-item" style="color: #ffffff;"><a class="nav-link" href="/login" style="color: #ffffff;">Login</a></li>
                    <li class="nav-item" style="color: #ffffff;"><a class="nav-link" href="/registration" style="color: #ffffff;">Register</a></li>
                </ul>
                <ul th:unless="${user == null}" class="navbar-nav d-xl-flex ms-auto justify-content-xl-center align-items-xl-center" style="color: #ffffff;margin-right: 10px;">
                    <li class="nav-item" style="color: #ffffff;"><a class="nav-link" href="/logout" style="color: #ffffff;font-size: 15px;font-style: italic;text-decoration:  underline;">logout</a></li>
                    <li th:text="${user.username}" class="nav-item" style="color: #ffffff;"><a class="nav-link" href="#" style="color: #ffffff;">MeZerius</a></li>
                </ul>
                <a th:unless="${user == null}" th:href="@{/users/{username}(username=${user.username})}"><img style="border-radius: 100%;height: 50px;width: 50px;" th:src="${user.avatar}"></a>
            </div>
        </div>
    </nav>
</header>